apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DATABASE_URL: postgresql://lmsuser:Vignesh123!@terraform-20260209114231967400000009.cy3g00wiie5h.us-east-1.rds.amazonaws.com:5432/lmsdb?sslmode=require
